.container__footer{
  max-width: 1920px;
  min-height: 630px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
}


 .logo{
  width: 224px;
  height: 72px;
  margin-top: 48px;
}

.footer__block-one{
  min-height: 370px;
  width: 317px;
  padding-top: 10px;
}

.footer__list{
display: flex;
flex-direction: column;
justify-content: space-between;

}


.footer__list-style{
  color: #CACACA;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;

}

.footer__text-color{
  display: inline-block;
  color: #CACACA;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  padding-top: 1px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.footer__text-color:hover{
  transform: scale(1.1);
  color:#fff
}
.footer__text-color:active{
  transform: scale(1.1);
  color: #414141;
}

.checkbox__style{
  margin-right: 3px;
}

.footer__icon{
  display: flex;
  flex-direction: row;


}

.footer__block-icon{
 display: flex;
 width: 230px;
 justify-content: space-between;
 cursor: pointer;

}



.icon{
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
  transition: all 0.3s ease-out;

}

.icon:hover{
  transform: scale(1.1);
  width: 62px;
}

.icon:active{
  transform: scale(2.1);
  width: 65px;
}

.one{
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.two{
  background-image: url(../img/vk1.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.three{
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}


.footer__block-two{
  max-width: 100%;
  min-height: 493px;
  padding-left: 139px;

}

.footer__list-block-form{
  max-width: 100%;
  min-height: 493px;
}

.section-contacts-write-question{
font-size: 48px;
font-weight: 400;
line-height: 59px;
color: #CACACA;
padding-top: 59px;

}


.footer__block-two-name{
  background-color:#414141;
  width: 86%;
  height: 60px;
  border: none;
  margin-top: 24px;
  padding-left: 24px;
}


.footer__block-two-mail{
  background-color:#414141;
  width: 86%;
  height: 60px;
  border: none;
  margin-top: 28px;
  padding-left: 24px;
}

.footer__block-two-massage{
  background-color:#414141;
  width: 86%;
  height: 150px;
  margin-top: 25px;
  border: none;
  resize: none;
  padding-left: 24px;
  padding-top: 14px;
}

.footer__agreement{
margin-left: 22px;
padding-top: 45px;
}

.footer__agreement-style{
color:#CACACA;
font-weight: 400;
margin: 0px;
text-align: left;
width: 60%;
padding-left: 46px;

}

.footer__list-block-form{
  max-width: 100%;
}




.footer__button{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  height: 60px;
  border: none;
  max-width: 40%;
  padding: 20px 53px;
  margin-top: 25px;
  background: #FF9900;
  color: #fff;
  cursor: pointer;

}

.footer__button:hover{
  background-color: rgba(255, 153, 0, 0.6);
}

.footer__button:active{
  background-color: #E1670E;
}

.checkbox__style{
  display: inline-block;
}

.footer__block-agreement{
  display: flex;
}


.footer__block-three{
  max-width: 363px;
  min-height: 320px;
  padding-top: 126px;
}


.footer__block-three-text{
color: #CACACA;
font-size: 16px;
font-weight: 400;
line-height: 32px;
text-align: left;
max-width: 363px;
min-height: 320px;

}

@media only screen and (max-width:1570px){
  .footer__block-three{
    display: none;
}
}

@media only screen and (max-device-width:1172px){

  .footer__agreement-style{
    padding-left: 40px;
    width: 100%;
    font-size: 16px;
  }

  .footer__button{
   padding: 20px 20px;
  }
}

/* media for screen 1024*/

@media only screen and (max-device-width:1024px){
.footer__block-two{
padding-left: 75px;

}
.footer__block-two-name{
 width: 100%;
}


.footer__block-two-mail{
  width: 100%;
}

.footer__block-two-massage{
  width: 100%;
}

.footer__agreement{
padding-top: 45px;
}

.footer__agreement-style{
  font-size: 15px;
  width: 57%;
  padding-left: 40px;

}
.footer__button{

  width: 46%;
  padding: 10px 28px;
  margin-top: 20px;
}


@media (max-width: 998px){
  .container__footer{
    display: flex;
    flex-flow: wrap-reverse;
    max-width: 967px;
    min-height: 815px;
    padding-left: 15px;
    margin: 0;
  }
  .footer__block-one{
    display: none;
  }

  .logo{
    padding-left: 50px;
    width: 350px;
    min-height: 80px;
    margin: 0;
   }

   .footer__block-icon{
    max-width: 100%;
    padding-left: 30px;
  }

}
}

@media only screen and (max-width: 860px){
  .container__footer{
    max-width: 860px;
    padding-left: 50px;
    padding-right: 50px;

  }

  .footer__block-two{
    padding-left: 0px;
  }

  .logo{
    padding-left: 0px;
    width: 250px;
   }

   .footer__block-icon{
    max-width: 100%;
    padding-left: 0px;
  }

}



@media only screen and (max-width: 768px){
.container__footer{
  display: flex;
  flex-flow: wrap-reverse;
  max-width: 768px;
  min-height: 815px;
  padding-left: 15px;
}
.logo{
 padding-left: 30px;
 width: 260px;
 min-height: 60px;
 margin: 0;
}



.footer__block-one{
  display: none;
}

.footer__block-icon{
  width: 265px;
  padding-left: 30px;
  min-height: 115px;
}


.footer__block-two{
  max-width: 100%;
  padding-left: 32px;

  }


  .footer__block-two-name{
    width: 81%;
  }


  .footer__block-two-mail{
    width: 81%;
  }

  .footer__block-two-massage{
    width: 81%;
  }

  .footer__agreement{
  padding-top: 45px;
  }
  .footer__button{
    width: 36%;
    padding: 10px 40px;
    margin-top: 22px;
    font-size: 15px;
  }
 .logo{
    display: none;
  }

  .background-logo{
    background-image: url(../img/logo-2.png);
    background-repeat: no-repeat;
    max-width: 239px;
    min-height: 88px;
    margin-left: 34px;
  }
}

@media only screen and (max-width: 634px){
  .container__footer{
    display: flex;
    flex-flow: wrap-reverse;
    max-width: 634px;
    min-height: 815px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer__block-agreement{
    display: block;
  }

  .footer__block-two{
    padding-left: 0px;
  }

  .footer__button{
    margin-left: 2px;
    padding: 0px 21px
  }

  .footer__agreement{
    padding-left: 2px;
    width: 100%;
  }

  .background-logo{
    margin-top: 30px;
    margin-left: 0px;
  }

  .footer__block-icon{
    padding-left: 0px;
    width: 240px;
  }
}

@media only screen and (max-width: 540px){

  .section-contacts-write-question{
    font-size: 47px;

  }

  .container__footer{
   padding-left: 15px;
   padding-right: 15px;
   }
  .footer__agreement{
    width: 100%;
    padding-left: 20px;
  }

  .footer__button{
    margin-left: 0;
    padding: 5px 17px;
    font-size: 13px;
  }


}

@media(max-width: 433px){
  .footer__button{
    margin-left: 0;
    padding: 5px 17px;
    font-size: 13px;
    width: 45%;
  }
}
@media (max-width: 375px){
  .container__footer{
   max-width: 375px;
  min-height: 784px;
  padding-left: 15px;
  padding-right: 15px;
  }

  .footer__list-block-form{
    min-height: 422px;
  }


  .footer__block-two{
    width: 100%;
    padding-left: 0px;
    }

    .section-contacts-write-question{
      font-size: 24px;
      line-height: 24px;
      padding-top: 42px;
      padding-right: 0px;
    }

    .footer__block-two-name{
      width: 100%;
    }
    .footer__block-two-mail{
      width: 100%;
    }

    .footer__block-two-massage{
      width: 100%;
    }

    .footer__block-agreement{
      display: block;
    }

    .footer__button{
      width: 48%;
      height: 40px;
      font-size: 12px;
      padding: 0px 22px;
      margin-top: 17px;
      margin-left: 78px;
    }

    .footer__block{
      max-width: 100%;
      height: 178px;
    }

    .footer__agreement{
      padding-top: 18px;
      padding-left: 46px;
      font-size: 16px;
      width: 100%;
    }

     .footer__block-icon{
       max-width: 58%;
       min-height: 50px;
       margin-left: 46px;
     }


     .one{
      background-image: url(../img/fb2.svg);
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;

    }

    .two{
      background-image: url(../img/vk.svg);
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;
    }

    .three{
      background-image: url(../img/vector3.svg);
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;
    }

    .logo{
      display: none;
    }

    .background-logo{
      background-image: url(../img/background-logo.png);
      background-repeat: no-repeat;
      width: 200px;
      min-height: 54px;
      margin-top: 56px;
      margin-left: 81px;
    }
}

@media (max-device-width: 320px){
  .container__footer{
   max-width: 320px;
  min-height: 684px;
  }

  .footer__list-block-form{
    min-height: 422px;
  }


  .footer__block-two{
    width: 100%;
    padding-left: 0px;
    }

    .section-contacts-write-question{
      font-size: 24px;
      line-height: 24px;
      padding-top: 42px;
      padding-right: 0px;
    }

    .footer__block-two-name{
      width: 100%;
    }
    .footer__block-two-mail{
      width: 100%;
    }

    .footer__block-two-massage{
      width: 100%;
    }

    .footer__block-agreement{
      display: block;
    }

    .footer__button{
      width: 62%;
      height: 40px;
      font-size: 12px;
      padding: 0px 22px;
      margin-top: 17px;
      margin-left: 55px;
    }

    .footer__block{
      max-width: 100%;
      height: 178px;
    }

    .footer__agreement{
      padding-top: 18px;
      padding-left: 5px;
      font-size: 16px;
      width: 100%;
    }

     .footer__block-icon{
       max-width: 58%;
       min-height: 50px;
       margin-left: 46px;
     }


     .one{
      background-image: url(../img/fb2.svg);
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;

    }

    .two{
      background-image: url(../img/vector3.svg);
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;
    }

    .three{
      background-image: url(../img/vector3.svg);
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;
    }

    .logo{
      display: none;
    }

    .background-logo{
      background-image: url(../img/background-logo.png);
      background-repeat: no-repeat;
      width: 200px;
      min-height: 54px;
      margin-top: 56px;
      margin-left: 81px;
    }
}
