 /*header css*/


 .visuallity-hidden{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);/* IE6, IE7*/
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

  /*lionic HEADER style css*/

  .header-top{
    display: flex;
    height: 110px;
    align-items: center;
  }

  .header-logo{
    font-weight: 400;
    margin-right: 15px;
  }


  .number_style{
    color: var(--light-gray);
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }

  .number_style:hover{
  color: #f7ab07;
  }

  /*личный кабинет lionic style css*/
  .header-pivate{
    background-image: url('../img/arrow-top.svg');
    background-size: 22px;
    padding-left: 25px;
    background-repeat: no-repeat;
    margin-left: auto;
  }




  /*стили для шапки lionic*/
  .private_text{
    color: var(--orange);
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    will-change: opacity;
  }

  .private_text:hover{
  transform: scale(1.1);
  color: var(--golden-orange);
  }


  /*низ шапки навигация lionic*/
  .header-bottom{
    display: flex;
    border-radius: 12px;
    background-color: var(--white);
  }

  .nav-list{
    display: flex;
    height: 70px;
    padding: 30px 0px 30px 15px;
  }

  .nav-link{
    margin-right: 12px;
    margin-left: 18px;
  }

.nav-text:hover{
  cursor: pointer;
  color: var(--orange);


}

  .nav-text{
    color: var(--light-gray);
    font-weight: 400;
    transition: color .5 ease;
  }
/* инпут для иконки*/
  .search{
    position: relative;
    width: 355px;
    height: 48px;
    margin: 11px 21px 11px 160px;
  }

  .search-button{
    position: absolute;
    top: 25px;
    transform: translateY(-50%);
    right: 10px;
    background-image: url('../img/search.svg');
    min-width: 22px;
    min-height: 22px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
  }


  .search input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background-color: var(--background);
    border-radius: 15px;
    border: none;
  }
