

html{
  box-sizing: border-box;
}


img{
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

@keyframes filter-animation {
  0% {
    filter: sepia(0) saturate(2);
  }

  50% {
    filter: sepia(1) saturate(8);
  }

  100% {
    filter: sepia(0) saturate(2);
  }
}

@keyframes animone {
  10% {transform: scale(1.4);}
  10% {transform: scale(1.2);}
  10% {transform: scale(1.4);}
}

a{
  text-decoration: none;
}

h1, h2,h3,p{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Muller', sans-serif;
  background-color: #f1f1f1;
}

:root{
  --light-gray:#868686;
  --orange: #cc9933;
  --golden-orange:#f7ab07;
  --black:#333333;
  --background:#f1f1f1;
  --white:#ffffff;
  --white-gray:#bfbfbf;
  --gray:--#e4e4e4;

}



.container{/*container for laguna css*/
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  }























